<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/style.css" />    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <title>Accordion</title>
<body>
    <section class="container block">
        <div class="accordion-wrapper">
            <div class="accordion__intro">
                <h2 class="accordion__heading">رزومه و سوابق</h2>
                <span class="accordion__text">
                    <span>ویرایش</span>
                    <span class="icon">
                        <i class="far fa-edit"></i>
                    </span>
                </span>
            </div>
            <div class="accordion">
                <header class="accordion__header">
                    <h2 class="accordion__heading">سوابق کاری</h2>
                    <span class="icon">
                        <i class="fas fa-chevron-circle-up"></i>
                    </span>
                </header>
                <div class="accordion__content">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="accordion">
                <header class="accordion__header">
                    <h2 class="accordion__heading">سوابق تحصیلی</h2>
                    <span class="icon">
                        <i class="fas fa-chevron-circle-up"></i>
                    </span>
                </header>
                <div class="accordion__content">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="accordion">
                <header class="accordion__header">
                    <h2 class="accordion__heading">خدمت سربازی</h2>
                    <span class="icon">
                        <i class="fas fa-chevron-circle-up"></i>
                    </span>
                </header>
                <div class="accordion__content">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>