<section class="block-plan container">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <spam class="plan__introduction">
            <span class="plan__name">اقتصادی</span>
            <span class="badge ">15% off</span>
          </spam>
            <span class="plan__price">390,000</span>
            <span class="plan__biling_cycle">ماهانه / تومان</span>
            <plan class="plan__descriptions">سرویس ماشین های کلاسیک</plan>
        </header>  
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--secongary btn--block">ثبت سفارش</button>
        </div>
      </div>
      
    </div>
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <spam class="plan__introduction">
            <span class="plan__name">اقتصادی</span>
            <span class="badge badge--primary">15% off</span>
          </spam>
            <span class="plan__price">390,000</span>
            <span class="plan__biling_cycle">ماهانه / تومان</span>
            <plan class="plan__descriptions">سرویس ماشین های کلاسیک</plan>
        </header>  
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--primary btn--block plan--popular">ثبت سفارش</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <spam class="plan__introduction">
            <span class="plan__name">اقتصادی</span>
            <span class="badge ">15% off</span>
          </spam>
            <span class="plan__price">390,000</span>
            <span class="plan__biling_cycle">ماهانه / تومان</span>
            <plan class="plan__descriptions">سرویس ماشین های کلاسیک</plan>
        </header>  
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--secongary btn--block">ثبت سفارش</button>
        </div>
      </div>
      
    </div>
</section>