<section class="hero-section">
    <picture>
      <source 
      srcset="./assets/images/banner.jpg"
      type="image/jpg"
      media="(min-width:768px)"
      />
      <source 
      srcset="./assets/images/banner-mobile.jpg"
      type="image/jpg"
      media="(max-width:768px)"
      />
      <img alt="Tap30" src="./assets/images/banner.jpg" class="banner-img"/>
    </picture>
    <div class="hero-wrapper container">
      <div class="intro-btn">
        <h1>تپسی</h1>
        <h2>اپلیکیشن درخواست خوردرو و پیک</h2>
        <div class="intro-wrapper">
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-sharp fa-solid fa-arrow-down"></i>
            </span>
            <p> دانلود اپلیکیشن مسافران</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-brands fa-android"></i>
            </span>
            <p> دانلود اپلیکیشن مسافران</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-sharp fa-solid fa-motorcycle"></i>
            </span>
            <p> دانلود اپلیکیشن مسافران</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fas fa-car"></i>
            </span>
            <p> دانلود اپلیکیشن مسافران</p>
          </div>
        </div>
      </div>
    </div>
</section>