<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/style.css" />    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <title>Travel</title>
</head>
<body>
    <section class="container travell block">
        <div class="travell__slides">
            <div class="travell__slide">
                <div class="slide__img">
                    <img src="../assets/images/travell-3.jpg" alt="travell">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class=" badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر لوت</p>
                    <div class="slide__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>54</span>
                            <i class="fas fa-eye"></i>
                            <span>92</span>
                        </div>
                        <div>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="avatar-group">
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-2.jpeg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-1.jpg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-3.jpg"
                          />
                        </div>
                        <div class="hidden-avatars">10+</div>
                        <span class="slide__suggest">پیشنهاد</span>
                      </div>
                </div> 
            </div>
            <div class="travell__slide">
                <div class="slide__img">
                    <img src="../assets/images/travell-2.jpg" alt="travell">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class=" badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر لوت</p>
                    <div class="slide__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>54</span>
                            <i class="fas fa-eye"></i>
                            <span>92</span>
                        </div>
                        <div>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="avatar-group">
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-2.jpeg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-1.jpg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-3.jpg"
                          />
                        </div>
                        <div class="hidden-avatars">10+</div>
                        <span class="slide__suggest">پیشنهاد</span>
                      </div>
                </div> 
            </div>
            <div class="travell__slide">
                <div class="slide__img">
                    <img src="../assets/images/travell-4.jpg" alt="travell">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class=" badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر لوت</p>
                    <div class="slide__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>54</span>
                            <i class="fas fa-eye"></i>
                            <span>92</span>
                        </div>
                        <div>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="avatar-group">
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-2.jpeg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-1.jpg"
                          />
                        </div>
                        <div class="avatar">
                          <img
                            src="../assets/images/avatar-3.jpg"
                          />
                        </div>
                        <div class="hidden-avatars">10+</div>
                        <span class="slide__suggest">پیشنهاد</span>
                      </div>
                </div> 
            </div>
        </div>
    </section>
</body>
</html>